[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/phpfolding"]
	path = .vim/bundle/phpfolding
	url = https://github.com/vim-scripts/phpfolding.vim.git
[submodule ".vim/bundle/tabname"]
	path = .vim/bundle/tabname
	url = git://github.com/vim-scripts/Tab-Name.git
[submodule ".pentadactyl/colors/ubuntu"]
	path = .pentadactyl/colors/ubuntu
	url = git://github.com/cgardner/colorscheme-ubuntu.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/php"]
	path = .vim/bundle/php
	url = https://github.com/shawncplus/php.vim.git
[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git@github.com:cgardner/tmux-powerline.git
[submodule "powerline-shell"]
	path = powerline-shell
	url = git://github.com/milkbikis/powerline-shell.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
