snippet lipsum "Lorem Ipsum"
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum accumsan mi sit amet justo dignissim ultricies. In hac habitasse platea dictumst. Aliquam erat volutpat. Sed quis lobortis lectus. Praesent faucibus tortor vitae enim imperdiet facilisis. Integer vel ultrices tortor. Nam vitae eros sollicitudin lorem varius euismod. Fusce iaculis consequat metus eu vehicula. Aliquam lectus ligula, gravida nec accumsan a, lacinia sit amet neque. Pellentesque sed congue urna. Donec sollicitudin vehicula mollis. Phasellus at mi quis ligula sollicitudin sollicitudin ac a nunc.
endsnippet
snippet date "Date"
${2:${1:`date +%m`}-`date +%d`}-`date +%Y`
endsnippet
