<!-- https://alvinalexander.com/mac-os-x/mac-osx-startup-crontab-launchd-jobs/ -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//APPLE//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.gardnerc.joplinsync</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/gardnerc/.dotfiles/macos/joplin-sync.sh</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>360</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/joplin-sync.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/joplin-sync.out</string>
</dict>
</plist>
