
snippet     skinparam
  skinparam ${1:component} {
    FontSize 12
    FontName Roboto
    FontColor white
    ArrowColor #A7A8AA
    BorderColor white
    BackgroundColor #82C600
    BackgroundColor<<DarkGreen>> #509E2F
    BackgroundColor<<Teal>> #00B2A9
    BackgroundColor<<Blue>> #009CDE
    BackgroundColor<<DarkTeal>> #00778B
    BackgroundColor<<DarkBlue>> #005EB8
    BackgroundColor<<Burgundy>> #890C58
  }
  ${0}
endsnippet
