/**
 * ${4:undocumented function}
 *
 * @param ${5:void}
 * @return ${6:void}
 * @author ${7:`g:snips_author`}
 * @date ${8:`strftime('%Y-%m-%d')`}
 * @group ${9:all}
 **/
${1}function ${2:functionName}(${3}) {
	${9}
} // end function $2
