/**
 * ${3:undocumented class variable}
 *
 * @var ${4:string}
 **/
${1:private} $${2:variable};

/**
 * Getter for $this->$2
 *
 * @param void
 * @return $4
 * @author ${5:`g:snips_author`}
 **/
${6:private} function get${7:Variable}() {
	if (is_null($this->$2)) {
		$this->set$7(${8:FALSE});
	}
	return $this->$2;
} // end function get$7()

/**
 * Setter for $this->$2
 *
 * @param $4
 * @return void
 * @author $5
 **/
$6 function set$7($arg0) {
	$this->$2 = $arg0
} // end function set$7()
${9}